* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;

}
.adm-header-a{
  text-decoration: none;
  color: black;
}
.adm-header-grid{
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adm-header-logo{   
  padding-left: 55px;
}

.centralizando{
  position: absolute;
  width: 100%;
  left:-0.1px
}

.logout-adm{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.adm-home-button-text{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.logout-adm-a{
padding-right: 5px;
text-decoration: none;
background: none;
border: none;
cursor: pointer;
display: flex;
flex-direction: column;
}


.adm-home-nav{
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}











/* CODIGO DE Painel ADM */
:root {
  --color-white: white;
  --color-purple:  #324c75;
  --color-orange: white;
  --color-yellow: white;

  --font-lg: 38px;
  --font-md: 24px;
  --font-sm: 15px;
  --font-xs: 9px;

  --size-lg: 1280px;
  --size-md: 976px;
  --size-sm: 768px;
  --size-xs: 500px;
}
.adm-painel-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color:  #4c72af;
}

.adm-nav{
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
}
.adm-nav ul li{
  text-align: center;
  vertical-align: center;
  height: 40px;
  padding: 0 16px;
  transition: box-shadow .5s, transform .5s, color .5s;
}
.adm-nav ul li:hover {
  box-shadow: 0 10px 10px var(--color-red);
  transform: translateY(-10px);
  background-color: var(--color-purple);
  color: var(--color-yellow);
  font-weight: bolder;
}
.adm-table-users{

  width: 100%;
  padding: 20px;
  border-radius: 0 0 5% 5%;
  color: var(--color-yellow);
}

.adm-table-subtitulo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0 0 0;
}

.adm-title-center{
  padding-bottom: 87px;
}

.adm-content {

  width: 100%;
  height: 100%;
  border-radius: 0 0 5% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adm-content1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.adm-crete-container{

  margin-right: 23px;
 
}
button a.bnt-create{
  font-size: 20px;
}
.containerTable-lblTitle {
  width: 30%;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: var(--color-red);
}

.containerTable-lblValue {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.11);
  color: var(--color-orange);
  transition: box-shadow .5s, transform .5s, color .5s;
}
.btn-opition{
  display: flex;
  flex-direction: row !important ;
}
.btn-opition button{
  margin: 0 4px;
  width: 100px;
}

.containerTable-lblValue:hover {
  box-shadow: 0 10px 10px var(--color-red);
  transform: translateY(-10px);
  background-color: var(--color-purple);
  color: var(--color-yellow);
  font-weight: bolder;
}

.containerTable-lblValue:last-child:hover {
  box-shadow:none;
  transform: none;
  font-weight: none;
  background-color: rgba(255, 255, 255, 0.11);
}


.adm-table-users > tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.tableValue-btnOption {
  width: 200px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: #fff;
  outline: none;
  color: var(--color-orange);
  box-shadow: 0 0 10px var(--color-orange) inset;
}

.tableValue-btnOption:hover {
  box-shadow: 0 0 5px var(--color-orange);
  background-color: rgba(255, 255, 255, 0.127);
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .containerTable-lblTitle:last-child {
      display: none;
  }

  .containerTable-lblValue:last-child {
      display: none;
  } 
}

@media screen and (max-width: 500px) {
  *[class *= "lbl"] {
      font-size: var(--font-xs);
  }
}

/* animação da navegação */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  border: 1.5px solid #ccc;
}

.tab-panel {
  padding: 30px 0;
}

.editar-detalhe-button{
  text-decoration: none;
  color: white;
}

/* Css tab home */

.adm-painel-home{
display: grid;
grid-template-columns: 1fr 1fr;
}

.adm-welcome{
/* background-color: rgba(92, 119, 210, 0.552); */
border-radius: 8px;
padding: 20px 15px;
margin: 0px 10px;
color: white;
}

.adm-welcome-h3{
/* margin-left: 15px; */
margin-bottom: 25px;
font-size: 40px;
color:rgb(255, 255, 255)
/* text-align: center; */
}

.adm-welcome-p{
font-size: 28px;
text-align: start;
/* text-align: center; */
}

/* .grafico{
margin-left: 60px;
} */
.adm-grafico{
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}

.adm-welcome-a{
color: #fff;
}
.adm-welcome-a:hover{
color:rgb(202, 204, 150)
}