/*main*/
.adm-user-main {
  width: 100%;
  height: 100%;
}


/* o tamanho do conjunto */

.box-adm-user {
  width: 100%;
  margin: auto;
  max-width: 900px;
  min-height: 770px;
  height: 100%;
  position: relative;

}

.container-adm-user {
  width: 100%;

  position: absolute;
  padding: 10px 70px 50px 70px;
  background: rgba(40, 57, 101, .9);
  
}
.form-adm-user{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
}


.container-adm-user .tab,
.form-adm-user .form-elements-adm-user .label-adm-user,
.form-adm-user .form-elements-adm-user, .button-adm-user-save {
  text-transform: uppercase;
}

.form-adm-user .form-elements-adm-user {
  margin-bottom: 15px;
}

.form-adm-user .form-elements-adm-user .label-adm-user,
.form-adm-user .form-elements-adm-user .input-adm-user,
.form-adm-user .form-elements-adm-user, .button-adm-user-save,.button-adm-user-cancelar  {
  width: 100%;
  color: #fff;
  display: block;
}

.form-adm-user .form-elements-adm-user .input-adm-user,
.form-adm-user .form-elements-adm-user .button-adm-user-save, .button-adm-user-cancelar  {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.form-adm-user .form-elements-adm-user .input-adm-user[data-type="password"] {
  -webkit-text-security: circle;
}

.form-adm-user .form-elements-adm-user .label-adm-user {
  color: rgb(229, 229, 229);
  font-size: 22px;
}

.form-adm-user .form-elements-adm-user .button-adm-user-save {
  background: #1161ee;
}

.button-adm-user-save{
background: #1161ee;
border: none;
padding: 15px 20px;
border-radius: 25px;
margin-top: 50px;  
}
.button-adm-user-cancelar{
margin-top: 10px;
display: grid;
background: #818385;
text-transform: uppercase; 
}


.adm-user-image{
height: 390px;
width: 250px;
border-radius: 4px;
margin-bottom: 20px;
}

.form-elements-adm-user-buttons{
grid-column: 1 / -1;
}




.form-elements-adm-user-image{
grid-row: 1 / 4;
align-self: center;
justify-self: center;
display: flex;
flex-direction: column;
}

.user-h2{
color: white;
margin: 40px;
font-size:50px ;
text-align: center;
border-bottom: 5px #aaa solid;
}

#checkbox-adm{
height: 40px;
display: flex;
justify-content: left;
align-items: flex-start;
}

input::placeholder{
color: white
}