.finalizeOrder-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.titles-h3-finalize{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid #fcfcfc;
    margin-bottom: 20px;
}

.identification, .address, .payment {
    color: white;
    background-color:  #4c72af;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 60px;
    margin-left: 50px;
    /* margin-bottom: 50px; */
   
}
.payment-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.button-payment{
    width: 200px;
    padding: 30px;
    margin:30px;
    cursor: pointer;
}

.credit-card-info, .pix-info{
    display: flex;
    flex-direction: column;
}

.hide-credit-card-info{
    display:none;
}

.hide-payment-info{
    display:none;
}

.pix-info{
    align-items: center;
}
.qr-code-image{
    width: 100%;
    max-width: 300px;
}


.finalaze-label-input{
    margin-bottom: 30px;
}
.total-value{
    width: 90%;
    text-align: center;
   
    padding: 15px 0 15px 0;
    border-radius: 10px;
    
}
.fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ddd;
}

.finalize-button{
    background: #4c72af;
    color:white;
    border:none;
    padding:15px 20px;
    border-radius:25px;
    margin-top: 100px;
    cursor: pointer;
}

.image-book-finalize{
    width: 50%;
}