
<%- include('./partials/head')%>
<%- include('./partials/adm-header')%>
<section id="dunkles" class="tab-panel centralizando">
    <h2 class="adm-table-subtitulo adm-title-center">Produtos</h2>
        <div class="adm-painel-main">
            <div class="adm-content1">

                <div class="adm-content">
                        <table class="adm-table-users">
                         
                            <thead class="adm-table-users-thead">
                                <tr>
                                    <th class="containerTable-lblTitle">Livro</th>
                                    <th class="containerTable-lblTitle">Autor</th>
                                    <th class="containerTable-lblTitle">Quantidade</th>

                                    <th class="containerTable-lblTitle"> </th>
                                </tr>
                            </thead>

                            <tbody class="adm-table-users-tbody">
                                <tr>
                                    <td class="containerTable-lblValue">Aranquismo</td>
                                    <td class="containerTable-lblValue">Emma Goldin</td>
                                    <td class="containerTable-lblValue">200</td>

                                    <td class="containerTable-lblValue btn-opition">

                                        <button class="tableValue-btnOption"><a href="/adm/product"
                                                class="editar-detalhe-button">Editar</a></button>
                                        <button class="tableValue-btnOption">Deletar</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="containerTable-lblValue">Aranquismo</td>
                                    <td class="containerTable-lblValue">Emma Goldin</td>
                                    <td class="containerTable-lblValue">200</td>

                                    <td class="containerTable-lblValue btn-opition">

                                        <button class="tableValue-btnOption">Editar</button>
                                        <button class="tableValue-btnOption">Deletar</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="containerTable-lblValue">Aranquismo</td>
                                    <td class="containerTable-lblValue">Emma Goldin</td>
                                    <td class="containerTable-lblValue">200</td>

                                    <td class="containerTable-lblValue btn-opition">

                                        <button class="tableValue-btnOption">Editar</button>
                                        <button class="tableValue-btnOption">Deletar</button>
                                </tr>

                                <tr>
                                    <td class="containerTable-lblValue">Aranquismo</td>
                                    <td class="containerTable-lblValue">Emma Goldin</td>
                                    <td class="containerTable-lblValue">200</td>

                                    <td class="containerTable-lblValue btn-opition">

                                        <button class="tableValue-btnOption">Editar</button>
                                        <button class="tableValue-btnOption">Deletar</button>
                                </tr>


                            </tbody>
                        </table>
               
                        
                    </div>
                    <div class="adm-crete-container">
                        <button class="tableValue-btnOption"><a href="/adm/create-product"
                            class="editar-detalhe-button bnt-create">Criar Produto</a></button>
                        
                    </div>
            </div>
</section>
<%- include('./partials/footer')%>