<%- include('./partials/head')%>

  <%- include('./partials/adm-header')%>

  <main class="adm-user-painel">
    <div class="adm-user-wrap">
      <div class="adm-user-abas">

        <div id="container-titulo-abas">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
          <label for="tab-1" class="aba">Perfil</label>

          <input id="tab-2" type="radio" name="tab" class="sign-up">
          <label for="tab-2" class="aba">Endereço</label>

          <input id="tab-3" type="radio" name="tab" class="user-edit">
          <label for="tab-3" class="aba">Histórico</label>

         
        </div>

        <div class="adm-user-form">
<!-- as tabs estão aqui -->
          <div class="animacao-aba-01 abrir-formulario" id="form-item02">
            
            <div class="grupo">
              <label for="user" class="label">Nome</label>
              <input id="user" type="text" class="adm-user-input">
            </div>
            <div class="grupo">
              <label for="user" class="label">Sobrenome</label>
              <input id="user" type="text" class="adm-user-input">
            </div>
            <div class="grupo">
              <label for="pass" class="label">E-mail</label>
              <input id="pass" type="email" class="adm-user-input" data-type="Email">
            </div>
            <div class="grupo">
              <label for="pass" class="label">Resetar Senha</label>
              <input id="pass" type="password" class="adm-user-input" data-type="password">
            </div>
            <div class="grupo">
              <label for="pass" class="label">Criado em</label>
              <input id="pass" type="date" class="adm-user-input" data-type="date">
            </div>
        
            <div class="grupo">
              <input type="submit" class="adm-user-button" value="Voltar">
            </div>
           
          </div>

          <div class="animacao-aba-02" id="form-item02">
            <div class="grupo">
              <label for="user" class="label">Rua</label>
              <input id="user" type="text" class="adm-user-input">
            </div>
            <div class="grupo">
              <label for="pass" class="label">Estado</label>
              <input id="pass" type="text" class="adm-user-input" data-type="text">
            </div>
            <div class="grupo">
              <label for="pass" class="label">CEP</label>
              <input id="pass" type="number" class="adm-user-input" data-type="number">
            </div>
            <div class="grupo">
              <label for="pass" class="label">Complemento</label>
              <input id="pass" type="text" class="adm-user-input">
            </div>
            <div class="grupo">
              <input type="submit" class="adm-user-button" value="Voltar">
            </div>
            <!-- <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</a>
          </div> -->
          </div>

          <div class="animacao-aba-03" id="form-item02">
           
            <div class="adm-user-table-container">
              <table id="adm-user-table">
                <tr>

                  <th>Item</th>
                  <th>Valor</th>
                  <th>Data de compra</th>
                  <th>Data de entrega</th>
                </tr>
                <tr>
                  <td>
                    <p class="adm-user-tabela-livro">
                      Sobre anarquismo</p>
                  </td>
                  <td>R$49,99</td>
                  <td>09/01/21</td>
                  <td>19/01/21</td>
                </tr>

                <tr class="tr-02">
                  <td>

                    <p class="adm-user-tabela-livro">
                      Manifesto Comunista</p>
                  </td>
                  <td>R$39,99</td>
                  <td>15/02/21</td>
                  <td>25/02/21</td>
                </tr>

                <tr>
                  <td>
                    <p class="adm-user-tabela-livro">
                      Solaris</p>
                  </td>
                  <td>R$79,99</td>
                  <td>10/04/21</td>
                  <td>19/04/21</td>
                </tr>

                <tr class="tr-02">
                  <td>

                    <p class="adm-user-tabela-livro">
                      Duna</p>
                  </td>
                  <td>R$59,99</td>
                  <td>15/06/21</td>
                  <td>25/06/21</td>
                </tr>

                <tr>
                  <td>
                    <p class="adm-user-tabela-livro">
                      Ring</p>
                  </td>
                  <td>R$49,99</td>
                  <td>01/07/21</td>
                  <td>09/07/21</td>
                </tr>

                <tr class="tr-02">
                  <td>

                    <p class="adm-user-tabela-livro">
                      A Náusea</p>
                  </td>
                  <td>R$29,99</td>
                  <td>15/07/21</td>
                  <td>25/07/21</td>
                </tr>

                <tr>
                  <td>
                    <p class="adm-user-tabela-livro">
                      Cem anos de solidão</p>
                  </td>
                  <td>R$79,99</td>
                  <td>09/08/21</td>
                  <td>19/08/21</td>
                </tr>




              </table>
            </div>

          
<!-- as tabs terminam aqui -->
          </div>

        </div>
      </div>
    </div>

  </main>
<%- include('./partials/footer')%>