
  <%- include('./partials/head')%>
  <%- include('./partials/adm-header')%>
    <section id="marzen01" class="tab-panel centralizando">
    <h2 class="adm-table-subtitulo adm-title-center">Pedidos</h2>
    <div class="adm-painel-main">
        <div class="adm-content">
            <table class="adm-table-users">
                <thead class="adm-table-users-thead">
                    <tr>
                        <th class="containerTable-lblTitle">Cliente</th>
                        <th class="containerTable-lblTitle">Produto</th>
                        <th class="containerTable-lblTitle">Valor</th>
                        <th class="containerTable-lblTitle">Compra</th>
                        <th class="containerTable-lblTitle">Entrega</th>
                        <th class="containerTable-lblTitle"></th>
                    </tr>
                </thead>

                <tbody class="adm-table-users-tbody">
                    <tr>
                        <td class="containerTable-lblValue">Vale Pedro</th>
                        <td class="containerTable-lblValue">Anarquismo</td>
                        <td class="containerTable-lblValue">R$59,99</td>
                        <td class="containerTable-lblValue">27/10/2021</td>
                        <td class="containerTable-lblValue">05/11/2021</td>
                        <td class="containerTable-lblValue btn-opition">

                            <button class="tableValue-btnOption"><a href="/adm/order"
                                    class="editar-detalhe-button">Detalhes</a></button>
                            <!-- <button class="tableValue-btnOption">Deletar</button> -->
                        </td>
                    </tr>

                    <tr>
                        <td class="containerTable-lblValue">Vale Pedro</th>
                        <td class="containerTable-lblValue">Anarquismo</td>
                        <td class="containerTable-lblValue">R$59,99</td>
                        <td class="containerTable-lblValue">27/10/2021</td>
                        <td class="containerTable-lblValue">05/11/2021</td>
                        <td class="containerTable-lblValue btn-opition">

                            <button class="tableValue-btnOption">Detalhes</button>
                            <!-- <button class="tableValue-btnOption">Deletar</button> -->
                        </td>
                    </tr>

                    <tr>
                        <td class="containerTable-lblValue">Vale Pedro</th>
                        <td class="containerTable-lblValue">Anarquismo</td>
                        <td class="containerTable-lblValue">R$59,99</td>
                        <td class="containerTable-lblValue">27/10/2021</td>
                        <td class="containerTable-lblValue">05/11/2021</td>
                        <td class="containerTable-lblValue btn-opition">

                            <button class="tableValue-btnOption">Detalhes</button>
                            <!-- <button class="tableValue-btnOption">Deletar</button> -->
                        </td>
                    </tr>

                    <tr>
                        <td class="containerTable-lblValue">Vale Pedro</th>
                        <td class="containerTable-lblValue">Anarquismo</td>
                        <td class="containerTable-lblValue">R$59,99</td>
                        <td class="containerTable-lblValue">27/10/2021</td>
                        <td class="containerTable-lblValue">05/11/2021</td>
                        <td class="containerTable-lblValue btn-opition">

                            <button class="tableValue-btnOption">Detalhes</button>
                            <!-- <button class="tableValue-btnOption">Deletar</button> -->
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
</section>
<%- include('./partials/footer')%>
