<%- include('./partials/head')%>
  <%- include('./partials/adm-header')%>

  <main class="adm-profile-main">
    <div class="box-adm-profile">
        <div class="container-adm-profile">

            <h2 class="profile-h2">Perfil Adm</h2>
            <div class="form-adm-profile">
                
                    <div class="form-elements-adm-profile">
                        <label for="name" class="label-adm-profile">Nome</label>
                        <input id="profile" type="text" class="input-adm-profile" placeholder="Allison">
                    </div>
                    <div class="form-elements-adm-profile">
                        <label for="lastName" class="label-adm-profile">Sobrenome</label>
                        <input id="pass" type="text" class="input-adm-profile" data-type="text" placeholder="Vale Pedro">
                    </div>
                    <div class="form-elements-adm-profile">
                        <label for="email" class="label-adm-profile">Email</label>
                        <input id="pass" type="email" class="input-adm-profile" data-type="email" placeholder="allison.vale@outlook.com">
                    </div>
                    <!-- <div class="form-elements-adm-profile">
                        <label for="pass" class="label-adm-profile">Senha</label>
                        <input id="pass" type="password" class="input-adm-profile" data-type="password">
                    </div>  -->
                    <div class="form-elements-adm-profile">
                        <a type="submit" class="change-password-button" href="/admSenha">alterar senha</a> 
                    </div> 
                    <div class="form-elements-adm-profile-buttons">
                        <a class="button-adm-profile-save"> salvar</a>
                        <a class="button-adm-profile-cancelar">Cancelar</a>
                    </div>
                </div>

        </div>
    </div>
</main>    
<%- include('./partials/footer')%></div>