<%- include('./partials/head')%>
    
    <header class="adm-header-grid">
        <div class="adm-header-logo"><a href="../../index.html"><img src="/img/logo2.png" width="110" height="80" alt="Logo"></a></div>
        <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab0" aria-controls="dunkles" checked>
            <label for="tab0">Home</label>
            <input type="radio" name="tabset" id="tab1" aria-controls="marzen">
            <label for="tab1">Gerenciar usuarios</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
            <label for="tab2">Gerenciar Produtos</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="marzen01">
            <label for="tab3">Pedidos</label>
        
            
            <div class="tab-panels">
                <section id="marzen" class="tab-panel centralizando">        

                        <h2 class="adm-table-subtitulo">Olá</h2>
                        <%if(locals.user && locals.user.is_admin){%>
                            <p class="adm-welcome-h3 cor"><%=user.name%> <%=user.last_name%></p>        
                          <%}%>               

                    <div class="adm-painel-main">
                        <div class="adm-content">
                            <div class="adm-welcome">
                                <h3 class="adm-welcome-h3">Seja bem vindo</h3>
                                <p class="adm-welcome-p">Aqui no painel de administador você tem acesso a todas 
                                    informações necssarias para gerencial seu negócio.
                                </p>
                                <br>
                                <p class="adm-welcome-p">Para vizualizar ou editar suas informações pessoais 
                                    <a class="adm-welcome-a" href="/adm/profile">clique aqui.</a>
                                </p>
                            </div>
                            <div class="adm-painel-main">
                                <div class="adm-content">
                                    <div class="adm-painel-home">
                                        
                                        <div class="adm-grafico">
                                            <h3 class="adm-welcome-h3">Numero de vendas</h3>
                                            <img class="grafico" src="/img/grafico.png">
                                        </div>
                                    </div>
                                </div>
                        </div>
                </section>
                <section id="rauchbier" class="tab-panel centralizando">
                    <h2 class="adm-table-subtitulo adm-title-center">Usuarios</h2>
                    <div class="adm-painel-main">
                        <div class="adm-content">
                            <table class="adm-table-users">
                                <thead class="adm-table-users-thead">
                                    <tr>
                                        <th class="containerTable-lblTitle">Nome</th>
                                        <th class="containerTable-lblTitle">Sobrenome</th>
                                        <th class="containerTable-lblTitle">E-mail</th>
                                        <th class="containerTable-lblTitle">adm </th>
                                        <th class="containerTable-lblTitle"> </th>
                                    </tr>
                                </thead>

                                <tbody class="adm-table-users-tbody">
                                    <tr>
                                        <td class="containerTable-lblValue">Allison</th>
                                        <td class="containerTable-lblValue">Vale Pedro</td>
                                        <td class="containerTable-lblValue">allison.vale@outlook.com</td>
                                        <td class="containerTable-lblValue">Sim</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption"><a href="/adm/user"
                                                    class="editar-detalhe-button">Editar</a></button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Allison</th>
                                        <td class="containerTable-lblValue">Vale Pedro</td>
                                        <td class="containerTable-lblValue">allison.vale@outlook.com</td>
                                        <td class="containerTable-lblValue">Sim</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Editar</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Allison</th>
                                        <td class="containerTable-lblValue">Vale Pedro</td>
                                        <td class="containerTable-lblValue">allison.vale@outlook.com</td>
                                        <td class="containerTable-lblValue">Sim</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Editar</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Allison</th>
                                        <td class="containerTable-lblValue">Vale Pedro</td>
                                        <td class="containerTable-lblValue">allison.vale@outlook.com</td>
                                        <td class="containerTable-lblValue">Sim</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Editar</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section id="dunkles" class="tab-panel centralizando">
                    <h2 class="adm-table-subtitulo adm-title-center">Produtos</h2>
                        <div class="adm-painel-main">
                            <div class="adm-content">
                                <table class="adm-table-users">
                                    <thead class="adm-table-users-thead">
                                        <tr>
                                            <th class="containerTable-lblTitle">Livro</th>
                                            <th class="containerTable-lblTitle">Autor</th>
                                            <th class="containerTable-lblTitle">Quantidade</th>

                                            <th class="containerTable-lblTitle"> </th>
                                        </tr>
                                    </thead>

                                    <tbody class="adm-table-users-tbody">
                                        <tr>
                                            <td class="containerTable-lblValue">Aranquismo</td>
                                            <td class="containerTable-lblValue">Emma Goldin</td>
                                            <td class="containerTable-lblValue">200</td>

                                            <td class="containerTable-lblValue btn-opition">
                                                <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                                <button class="tableValue-btnOption"><a href="/adm/product"
                                                        class="editar-detalhe-button">Editar</a></button>
                                                <button class="tableValue-btnOption">Deletar</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="containerTable-lblValue">Aranquismo</td>
                                            <td class="containerTable-lblValue">Emma Goldin</td>
                                            <td class="containerTable-lblValue">200</td>

                                            <td class="containerTable-lblValue btn-opition">
                                                <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                                <button class="tableValue-btnOption">Editar</button>
                                                <button class="tableValue-btnOption">Deletar</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="containerTable-lblValue">Aranquismo</td>
                                            <td class="containerTable-lblValue">Emma Goldin</td>
                                            <td class="containerTable-lblValue">200</td>

                                            <td class="containerTable-lblValue btn-opition">
                                                <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                                <button class="tableValue-btnOption">Editar</button>
                                                <button class="tableValue-btnOption">Deletar</button>
                                        </tr>

                                        <tr>
                                            <td class="containerTable-lblValue">Aranquismo</td>
                                            <td class="containerTable-lblValue">Emma Goldin</td>
                                            <td class="containerTable-lblValue">200</td>

                                            <td class="containerTable-lblValue btn-opition">
                                                <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                                <button class="tableValue-btnOption">Editar</button>
                                                <button class="tableValue-btnOption">Deletar</button>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                </section>
                <!-- aqui -->
                <section id="marzen01" class="tab-panel centralizando">
                    <h2 class="adm-table-subtitulo adm-title-center">Pedidos</h2>
                    <div class="adm-painel-main">
                        <div class="adm-content">
                            <table class="adm-table-users">
                                <thead class="adm-table-users-thead">
                                    <tr>
                                        <th class="containerTable-lblTitle">Cliente</th>
                                        <th class="containerTable-lblTitle">Produto</th>
                                        <th class="containerTable-lblTitle">Valor</th>
                                        <th class="containerTable-lblTitle">Compra</th>
                                        <th class="containerTable-lblTitle">Entrega</th>
                                        <th class="containerTable-lblTitle"></th>
                                    </tr>
                                </thead>

                                <tbody class="adm-table-users-tbody">
                                    <tr>
                                        <td class="containerTable-lblValue">Vale Pedro</th>
                                        <td class="containerTable-lblValue">Anarquismo</td>
                                        <td class="containerTable-lblValue">R$59,99</td>
                                        <td class="containerTable-lblValue">27/10/2021</td>
                                        <td class="containerTable-lblValue">05/11/2021</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption"><a href="/adm/order"
                                                    class="editar-detalhe-button">Detalhes</a></button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Vale Pedro</th>
                                        <td class="containerTable-lblValue">Anarquismo</td>
                                        <td class="containerTable-lblValue">R$59,99</td>
                                        <td class="containerTable-lblValue">27/10/2021</td>
                                        <td class="containerTable-lblValue">05/11/2021</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Detalhes</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Vale Pedro</th>
                                        <td class="containerTable-lblValue">Anarquismo</td>
                                        <td class="containerTable-lblValue">R$59,99</td>
                                        <td class="containerTable-lblValue">27/10/2021</td>
                                        <td class="containerTable-lblValue">05/11/2021</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Detalhes</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="containerTable-lblValue">Vale Pedro</th>
                                        <td class="containerTable-lblValue">Anarquismo</td>
                                        <td class="containerTable-lblValue">R$59,99</td>
                                        <td class="containerTable-lblValue">27/10/2021</td>
                                        <td class="containerTable-lblValue">05/11/2021</td>
                                        <td class="containerTable-lblValue btn-opition">
                                            <!-- <button class="tableValue-btnOption">Detalhes</button> -->
                                            <button class="tableValue-btnOption">Detalhes</button>
                                            <button class="tableValue-btnOption">Deletar</button>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                </section>
            </div>

        </div>

      <!-- parte da direita -->
         <div class="logout-adm">
           
            <form action="/logout" method="POST">
                <button class="logout-adm-a"><img src="/img/exit.svg" width="40px" ></button>
                <button class="logout-adm-a" href="">Sair</button>
                </form>
        </div>
      </header>
        <%- include('./partials/footer')%>