<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="bag-main">
    <h1 class="bag-title-h1">Carrinho</h1>
<div class="bag-table-container">
    <table id="bag-table">
        <tr>
            <th>Produto</th>
            <th></th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>

        <td>
            <img src="img/home-livro-01.png" width="150px" height="220px"/>
        </td>
        
        <td>
            <p>Sobre anarquismo,</br> sexo e casamento</p>
        </td>
        
        <td>
            <div class="number">
                <span class="minus bag-table-span">-</span>
                <input class="bag-table-input" type="text" value="1"/>
                <span class="plus bag-table-span">+</span>
            </div>
         </td>

         <td>
            <p>R$59,99</p>
         </td>

         <td>
            <button class="bag-table-button"><img src="/img/trash.svg" width="30px" height="35px"></button>
         </td>
    </table>
</div>
</main>
<%- include('./partials/footer')%>

<!-- <div>
  <input id="numberInput"/>
  <button id="plusButton">+</button>
  <button id="minusButton">-</button>
</div>
    <script>
    textInput = document.querySelector('#numberInput');
    plusButton = document.querySelector('#plusButton');
    minusButton = document.querySelector('#minusButton');
    plusButton.onclick = () => textInput.value = parseInt(textInput.value) + 1;
    minusButton.onclick = () => textInput.value = parseInt(textInput.value) - 1;  
  </script> -->

<script>
    	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
</script>