<%- include('./partials/head')%>
    <%- include('./partials/adm-header')%>
        <main class="confirm-product-main">
           
            <div class="container-confirm-product ">
                <h1 class="h1-confirm-product">Erro ao </h1>
                <h1 class="h1-confirm-product">cadastrar</h1>
                <img class="icon-error-correct" src="img/error_icon.png">
                  <a class="correct-button" href="/adm/create-product">tentar novamente</a>
            </div>
        </main>

    
    <%- include('./partials/footer')%>