<%- include('./partials/head')%>
    <%- include('./partials/adm-header')%>
        <main class="confirm-product-main">
           
            <div class="container-confirm-product ">
                <h1 class="h1-confirm-product"><%=message%></h1>
                             <img  src="https://api.iconify.design/bxs/error-circle.svg?color=red&width=50">
                  <a class="correct-button" href="javascript:window.history.go(-1)">Voltar</a>
            </div>
        </main>

    
    <%- include('./partials/footer')%>