<%- include('./partials/head')%>
<%- include('./partials/header')%>

<main class="finalizeOrder-main">
    <div class="payment-info">
        <div class="identification">
            <h3>Identificação</h3>
            <label for="confirm-name" class="finalaze-label">Nome</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-lastname" class="finalaze-label">Sobrenome</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-email" class="finalaze-label">E-mail</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-CPF" class="finalaze-label">CPF/CNPJ</label>
            <input id="" type="number" class="finalaze-label-input">

        </div>
        <div class="address">
            <h3>Endereço</h3>
            <label for="confirm-street" class="finalaze-label">Rua</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-number" class="finalaze-label">Numero</label>
            <input id="" type="number" class="finalaze-label-input">

            <label for="confirm-cep" class="finalaze-label">CEP</label>
            <input id="" type="number" class="finalaze-label-input">

            <label for="confirm-complement" class="finalaze-label">Complemento</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-city" class="finalaze-label">Cidade</label>
            <input id="" type="text" class="finalaze-label-input">

            <label for="confirm-state" class="finalaze-label">Estado</label>
            <input id="" type="text" class="finalaze-label-input">

        </div>
    </div>
    <div class="total-value">
        <h2 class="bag-value-h2">Valor total</h2>
        <p>Total: R$59,99</p>
        <button type="submit" class="finalize-button">FINALIZAR COMPRA</button>
        <p><a href="/">Continuar comprando</p></a>

    </div>
</main>

<%- include('./partials/footer')%>