<%- include('./partials/head')%>
<%- include('./partials/header')%>
<section>
  <ul class="banner grid responsive">
    <li><img class="banner-image" src="/img/livroBanner-01-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-02-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-03-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-04-teste.png" alt="Flowers in Chania"></li>
  </ul>
</section>
<main class="main-index">
    <ul class="home-livros grid mt-big responsive">
      <li>
        <a href="/product">
          <img src="/img/home-livro-01.png" class="book-image"  alt="capa-livro">
        </a>
        <p>Sobre Anarquismo</p>
      </li>
      <li>
        <a href="/product">
          <img src="/img/home-livro-02.png" class="book-image" alt="capa-livro">
        </a>
          <p>Manifesto Comunista</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-03.png" class="book-image" alt="capa-livro">
        </a>
        <p>Trabalhos e dias</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-04.png" class="book-image" alt="capa-livro">
        </a>
        <p>Rashômon</p>
      </li>          
    </ul>

    <ul class="home-livros grid responsive">
      <li>
        <a href="/product">
          <img src="/img/home-livro-05.png" class="book-image" alt="capa-livro">
          </a>
          <p>Facismo Eterno</p>
      </li>
      <li>
        <a href="/product">
          <img src="/img/home-livro-06.png" class="book-image" alt="capa-livro">
        </a>
          <p>Ring</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-07.png" class="book-image" alt="capa-livro">
        </a>
        <p>Arte Contemporânea Brasileira</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-08.png" class="book-image" alt="capa-livro">
        </a>
        <p>Mulhere, Raça e Classe</p>
      </li>          
    </ul>

    <ul class="home-livros grid responsive">
      <li>
        <a href="/product">
          <img src="/img/home-livro-15.png" class="book-image" alt="capa-livro">
          </a>
          <p>O que é a Filosofia?</p>
      </li>
      <li>
        <a href="/product">
          <img src="/img/home-livro-10.png" class="book-image" alt="capa-livro">
          </a>
          <p>A queda do céu</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-11.png" class="book-image" alt="capa-livro">
        </a>
        <p>Solaris</p>
      </li> 
      <li>
        <a href="/product">
        <img src="/img/home-livro-13.png" class="book-image" alt="capa-livro">
        </a>
        <p>A Metamorfose</p>
      </li>          
    </ul>
</main>
  <%- include('./partials/footer')%>