<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="main-login">
    <section id="container-signup">
        <h2>Login</h2>
        <form method="GET">
          

          <div class="container-input">
            <label for="email-id">E-mail</label>
            <input type="email" name="email" id="email-id" />
          </div>
          <div class="container-input">
            <label for="password-id">Senha</label>
            <input type="password" name="password" id="password-id" />
          </div>
        
          <button class="btn-acessar-painel">
           <a class="btn-acessar-painel-texto" href="/user/panel">Entrar</a>
          </button>
         <a href="/create">Se não é cadastrado clique aqui</a>
        </form>
     </section>
    </main>
<%- include('./partials/footer')%>