<%- include('./partials/head')%>
    <%- include('./partials/adm-header')%>
        <main class="confirm-product-main">
           
            <div class="container-confirm-product ">
                <h1 class="h1-confirm-product">Produto cadastrado</h1>
                <h1 class="h1-confirm-product">com sucesso!</h1>
                <img class="icon-error-correct" src="img/complete_icon.png">
                  <a class="correct-button" href="/adm/create-product">continuar adcionando</a>
            </div>
        </main>

    
    <%- include('./partials/footer')%>