<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="releases-main">
    <ul class="lancamento-livros grid responsive mt-big">
        <li>
            <img src="img/lancamentos-01.png" class="book-cover" alt="capa-livro">
            <p>Labirintos do Facismo</p>
        </li>
        <li>
            <img src="img/lancamentos-02.png" class="book-cover" alt="capa-livro">
            <p>Os comedores de terra</p>
        </li>
        <li>
            <img src="img/lancamentos-03.png" class="book-cover" alt="capa-livro">
            <p>Casa de Alvenaria</p>
        </li>
        <li>
            <img src="img/lancamentos-04.png" class="book-cover" alt="capa-livro">
            <p>Evil Dead</p>
        </li>
    </ul>

    <ul class="lancamento-livros grid responsive mt-big">
        <li>
            <img src="img/lancamentos-05.png" class="book-cover" alt="capa-livro">
            <p>Desinformação e Democracia</p>
        </li>
        <li>
            <img src="img/lancamentos-06.png" class="book-cover" alt="capa-livro">
            <p>Antifa Modo de Usar</p>
        </li>
        <li>
            <img src="img/lancamentos-07.png" class="book-cover" alt="capa-livro">
            <p>O principio do estado e outros enasios</p>
        </li>
        <li>
            <img src="img/lancamentos-08.png" class="book-cover" alt="capa-livro">
            <p>O principio anarquista e outros ensaios</p>
        </li>
    </ul>

    <ul class="lancamento-livros grid responsive mt-big">
        <li>
            <img src="img/lancamentos-09.png" class="book-cover" alt="capa-livro">
            <p>O contador de histórias e outros textos</p>
        </li>
        <li>
            <img src="img/lancamentos-10.png" class="book-cover" alt="capa-livro">
            <p>Duna</p>
        </li>
        <li>
            <img src="img/lancamentos-11.png" class="book-cover" alt="capa-livro">
            <p>Poética</p>
        </li>
        <li>
            <img src="img/lancamentos-12.png" class="book-cover" alt="capa-livro">
            <p>O Banquete</p>
        </li>
    </ul>

  </main>
<%- include('./partials/footer')%>