<%- include('./partials/head')%>
    <%- include('./partials/adm-header')%>
        <main class="confirm-product-main">
           
            <div class="container-confirm-product ">
                <h1 class="h1-confirm-product">Produto cadastrado com sucesso!</h1>
                
                <img src="https://api.iconify.design/clarity/success-standard-solid.svg?color=green&width=40&height=40">
              
                    <a class="correct-button" href="/adm">Homer</a>
                   

               
            </div>
        </main>

    
    <%- include('./partials/footer')%>