* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;

}
  
  .grid {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 130px;
    align-items: center;
    vertical-align: middle;
  }
  
  .header .logo{
     display: flex;
     padding: 50px,
  }


 .nomeCadastro{
  padding-top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  top: -70px;
 }
  
  body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  table{
    margin: auto;
    width: 95%;
    border-style:double;
    border-width:solid;
  }

  table th,
  table td{
    padding: auto;
    border: solid 1px #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  
  }
  
  button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #aca8a8;
    color: #e2e2e2;
    margin: 5px;
    padding: 10px;
  }

  button.cinza{
    background-color: #ccc;
    color: #cfcfcf;
  }

  button:hover{
    opacity: 0.8;
  }

  input{
    padding: 10 px;
    border: solid 1px #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

  }
