* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;

}
  
  .grid {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 130px;
    align-items: center;
    vertical-align: middle;
  }
  
  .header .logo{
     display: flex;
     padding: 50px,
  }


 .nomeCadastro{
  padding-top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  top: -70px;
 }
  
  body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  table{
    margin: auto;
    width: 90%;
    border-style:double;
    border-width:solid;
  }

  table th,
  table td{
    padding: auto;
    border: solid 1px #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
  }
  
  button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #aca8a8;
    color: #e2e2e2;

  }

  input{
    padding: 10 px;
    border: solid 1px #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100%;

  }
.btn-cadastro{
  padding: 15px 15px;
  width: 100px;
  border: 3px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5e5757;
  color: #e2e2e2;
  margin: 0 10px
}
.icone-editar{
  width: 10px;
  height: 10px;
}
