<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta name="viewport" content="width=device=width, initial-scale=1.0" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type = "imagem/png"  href="/img/logo2.png" />
  <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/product.css">
  <link rel="stylesheet" href="/stylesheets/user-painel.css">
  <link rel="stylesheet" href="/stylesheets/adm-painel.css">
  <link rel="stylesheet" href="/stylesheets/adm-product.css">
  <link rel="stylesheet" href="/stylesheets/adm-order.css">
  <link rel="stylesheet" href="/stylesheets/adm-user.css">
  <link rel="stylesheet" href="/stylesheets/adm-profile.css">
  <link rel="stylesheet" href="/stylesheets/purchase.css">
  <link rel="stylesheet" href="/stylesheets/adm-header.css">
  <link rel="stylesheet" href="/stylesheets/releases.css">
  <link rel="stylesheet" href="/stylesheets/bag.css">

  <script src="/javascript/botao-de-pesquisa.js" defer></script>
  <script src="/javascript/user-painel.js" defer></script>
  <script src="/javascript/password.js" defer></script>
  <script src="/javascript/haburguer.js" defer></script>

  <title><%=title%></title>
    
  </head>
  <body>
   
    