* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
  }
  
  
  .grid {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
  }
  
  ul li {
    display: inline-block;
    text-decoration: none;
  }
  
  .header {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 130px;
    align-items: center;
    
  }
  
  .header logo{
      display: flex;
     padding: 100px,
  }
  
  .nav-list li + li {
    padding-left: 20px;
  
  }
  .nav-list li a{
    text-decoration: none;
    color:black
  }
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #container-login {
    width: 450px;
    height: 500px;
    background-color: #477fc0;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }#container-login h2,
  #container-signup h2 {
    font-size: 2rem;
    color: #ffffff;
  }
  
  #container-signup {
    width: 450px;
    min-height: 500px;
    background-color: #747577;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #container-login form,
  #container-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  .container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #container-login form input,
  #container-signup form input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
  }
  label {
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #f1d4d4;
  }
  
  
  .footer {
    display: flex;
    height: 200px;
    align-items: center;
    background-color: #d9d9d9;
    margin-top: 32px;
  }
  
  .footer div {
    display: flex;
    justify-content: space-between;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 22px;
  }
  
  .newsletter input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
  }
  
  .social {
    display: flex;
    flex-direction: column;
  }
  
  
  .credit-card-box {
    width: 400px;
    height: 280px;
    background-color: aqua;
    border-radius: 15px;
  
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);

  
    
  }
  .font-quant-1 {
    display: flex;
    justify-content: center
  }
  .texto1 {
    display: flex;
    justify-content: center;
  }
  .texto2 {
    display: flex;
    justify-content: center;
    bottom: 15%;
  }
  .texto3 {
    display: flex;
    justify-content: center;
  }
  
  .merchant {
    display: flex;
    justify-content: center;
  }
  .right-align-1 {
    color: black;
  }
  .right-align-2 {
    color: black;
  }
  .right-align-3{
    color: black;

  }
  .right-align-4{
    color: black;
  }
  .right-align-5 {
    color: black;
  }
  .right-align-6 {
    font-weight: bold;  
  }
  .right-align-7 {
    color: black;
  }
  .right-align-8 {
    color: black;
   
  }
    body {
      width:100%;
        background-image:url(/multiverso-livraria/piImagens/fundofc.jpg);
      background-size: cover;
   
    }
    
    .container {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      position: absolute;
      /*     top: 50%; */
      left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      background-color: yellow;
      opacity: 90%;
      border-radius: 5%;
    }
    
    .box {
      display: flex;
      flex-direction: column;
      background-color: white
      
     
      
    
    }
    
    .card-panel {
      padding-bottom: 0px;
  
      
    }
    
    #crickets {
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    table td:nth-child(1) {
      width: 34px;
    }
    
    table td:nth-child(3) {
      width: 65px;
    }
    
    .bold {
      font-weight: bold;
      font-size: 20px;
      
    }
    
    

    
    .input-field label {
      color: black
     
     
    }
    
    .select-wrapper+label {
      top: -1.8rem;
    }
    
    .select-wrapper span.caret {
      top: 2px;
      color: #fff;
    }
    
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea.materialize-textarea,
    .select-wrapper input.select-dropdown {
      border-bottom: 1px solid #fff;
    }
    
    .input-card-number {
      font-size: 30px !important;
      width: 70px !important;
      display: inline-block;
      margin-right: 5px !important;
    }
    
    .input-card-cvv {
      width: 30px !important;
      display: inline-block;
    }
    
    .card-holder {
      width: 150px !important;
      margin-right: 10px;
    }
    
    .card-expiration-date {
      display: inline !important;
    }
    
    .card-expiration-date .select-wrapper,
    .card-expiration-date input {
      display: inline !important;
      width: 50px !important;
    }
    
    .card-expiration-date .select-wrapper {
      margin-right: 5px;
    }
    
    .card-expiration-date ul,
    .card-expiration-date li span {
      width: 50px !important;
    }
    
    .logo img {
      position: relative;
      top: 0px;
      left: 290px;
      width: 60px;
      filter: invert(1);
      -moz-filter: invert(1);
      -webkit-filter: invert(1);
      
    }
    
    .button-checkout-row {
      margin: 0px;
      background-position: center;
      color: black;
    
     
    }
    
    .btn-large {
      margin: 10px 0%;
      /*   width: 100%; */
    }
    
    .help {
      text-align: center;
      background-position: center;
      color: black;
    }
    main {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #container-login {
      width: 450px;
      height: 500px;
      background-color: #477fc0;
      border-radius: 10px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }#container-login h2,
    #container-signup h2 {
      font-size: 2rem;
      color: #ffffff;
    }
    
    #container-signup {
      width: 450px;
      min-height: 500px;
      background-color: #747577;
      border-radius: 10px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    
    #container-login form,
    #container-signup form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    
    .container-input {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    #container-login form input,
    #container-signup form input {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      margin: 10px 0;
    }
    label {
      color: #ffffff;
      font-weight: 700;
      cursor: pointer;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
    
    a:hover {
      color: #f1d4d4;
    }
    
    
    .footer {
      display: flex;
      height: 200px;
      align-items: center;
      background-color: #d9d9d9;
      margin-top: 32px;
    }
    
    .footer div {
      display: flex;
      justify-content: space-between;
    }
    
    .about-us {
      display: flex;
      flex-direction: column;
    }
    
    .newsletter {
      display: flex;
      flex-direction: column;
      width: 300px;
      font-size: 22px;
    }
    
    .newsletter input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 8px 0;
    }
    
    .social {
      display: flex;
      flex-direction: column;
    }
    
    
    
   